# =============== 
# Unity generated
# ===============
Temp/
Library/

# =====================================
# Visual Studio / MonoDevelop generated
# =====================================
ExportedObj/
obj/
bin/
.vs/

# ======================
# OS Related / Generated
# ======================
desktop.ini
*.DS_store
.DS_Store?
._*

# =====
# Extra
# =====
*.log
